.home {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  align-items: center;     /* centra horizontalmente */
  height: 100vh;           /* ocupa toda la pantalla */
  text-align: center;
  margin: 0;               /* elimina márgenes */
}

.home h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.2rem;
  color: #555;
}
